@font-face {
  font-family: "RobotoSlab-Black";
  src: url("../../src/Assets/Fonts/RobotoSlab-Black.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../../src/Assets/Fonts/Roboto-Regular.ttf");
}
